.flex__container {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  width: 100%;
}

.form__aside {
  display: flex;
  padding: 10px;
  flex-direction: row;
  height: 400px;
  background: lightseagreen;
}

.form__title {
  margin: 20px auto;
}

.blog__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: lightgoldenrodyellow;
  padding: 50px;
  overflow-y: auto;
}

.post {
  padding: 10px;
}

.post__date {
  font-style: italic;
}

.post__figure {
  width: 300px;
  margin: 10px;
  img {
    width: 100%;
  }
}

.post__figure_even {
  float: right;
}

.post__figure_odd {
  float: left;
}

.content__input {
  width: 100%;
}

.submit__btn {
  margin-top: 10px;
  width: 100%;
}

@media (min-width: 600px) {
  .flex__container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  .form__aside {
    display: flex;
    padding: 10px;
    flex-direction: column;
    width: 200px;
    height: 100%;
    background: lightseagreen;
  }
}
